/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/*override browser styling*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    
/*general styles*/
body {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background-color: #3a3a3a;
    font-family: 'Chakra Petch', sans-serif; 
}

header {
    font-size: 1.5rem;
    padding: 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: #3a3a3a;
    box-shadow: 0 2px 2px #ffffff;
    display: flex;
    justify-content: center;
}

#banner {
    width: 100%;
    height: 6rem;
    opacity: 75%;
    position: absolute;
    inset: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

#game-description {
    margin-top: 6.5rem;
    font-size: 1rem;
    font-style: italic;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

.game-objective {
    font-size: 1rem;
    font-style: italic;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

#game-area {
    border: 5px solid #ffffff;
    margin: 0rem 2rem;
}

#start-game {
    font-size: 0.75rem;
    margin: .25rem auto .25rem auto;
}

#start-game-align {
    text-align: center;
}

#pname {
    width: 100%;
    font-family: 'Chakra Petch', sans-serif; 
    font-size: 20px;
    text-transform: uppercase;
}

#play-button {
    color:#3a3a3a;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Chakra Petch', sans-serif; 
    font-size: 15px;
    height: 5rem;
    width: 15rem;
}

#correct {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    color: lightgreen;
    font-weight: bold;
}

#incorrect {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    color: tomato;
    font-weight: bold;
    
}

#question-box {
    border: 3px solid #ffffff;
    display: flex;
    justify-content: center;
    margin: 5%;
    min-height: 80px;
    padding: 5px;
    height: fit-content;
    text-align: center;
    
}

.answer-buttons {
    display: flex;
    justify-content: center;
    margin: 0px 15px 10px;
}

#aye-button {
    height: 5rem;
    width: 15rem;
    font-family: 'Chakra Petch', sans-serif; 
    font-size: 30px;
    color: #ffffff;
    background-color:deepskyblue;
}

#naw-button {
    height: 5rem;
    width: 15rem;
    font-family: 'Chakra Petch', sans-serif; 
    font-size: 30px;
    color: #ffffff;
    background-color:deepskyblue;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
}

#social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 2.5vh;
    padding-top: 12.5%;
}

@media only screen and (min-width: 768px) {
 
    .answer-buttons {
        display: inline-block;
        margin: 0px 52.5px 10px;
    }    

    #score-bar {
        display: flex;
    }    
    
    #correct {
        width: 50%;
        float: left;
        margin-top: 25px;
    }

    #incorrect {
        margin-left: 20%;
        margin-top: 25px;
    }

    #social-links {
        font-size: 2rem;
    }

  }
    
